common/src/main/resources/LoginReception.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN_BN_Z_BC_LOGIN_VERIF">
		<saptrnbnd:OptimizedXMLTransfer
			uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
			wsp:Optional="true" />
		<saptrnbnd:OptimizedMimeSerialization
			xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
			wsp:Optional="true" />
		<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
		</sapattahnd:Enabled>
		<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
					xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
					xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
					xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
					xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy>
										<sp:HttpBasicAuthentication />
									</wsp:Policy>
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128Rsa15 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
		<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			wsp:Optional="true" />
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN_BN_Z_BC_LOGIN_VERIF_SOAP12">
		<saptrnbnd:OptimizedXMLTransfer
			uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
			wsp:Optional="true" />
		<saptrnbnd:OptimizedMimeSerialization
			xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
			wsp:Optional="true" />
		<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
		</sapattahnd:Enabled>
		<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
					xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
					xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
					xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
					xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy>
										<sp:HttpBasicAuthentication />
									</wsp:Policy>
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128Rsa15 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
		<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			wsp:Optional="true" />
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF_IF_Z_BC_LOGIN_VERIF">
		<sapsession:Session
			xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
			<sapsession:enableSession>false</sapsession:enableSession>
		</sapsession:Session>
		<sapcentraladmin:CentralAdministration
			xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
			wsp:Optional="true">
			<sapcentraladmin:BusinessApplicationID>001AA023F0CD1EE2879E9E5E765A75C3
			</sapcentraladmin:BusinessApplicationID>
		</sapcentraladmin:CentralAdministration>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP_IF_OP_Z_BC_LOGIN_VERIF">
		<sapcomhnd:enableCommit
			xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
		<sapblock:enableBlocking
			xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
		<saptrhnw05:required
			xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
		<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
		</saprmnw05:enableWSRM>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char12">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="12" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char255">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="numeric1">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1" />
					<xsd:pattern value="\d*" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="Z_BC_LOGIN_VERIF">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="I_PASSWORD" type="tns:char255"
							minOccurs="0" />
						<xsd:element name="I_USERNAME" type="tns:char12"
							minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Z_BC_LOGIN_VERIFResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="E_RETURN" type="tns:numeric1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Z_BC_LOGIN_VERIF">
		<wsdl:part name="parameters" element="tns:Z_BC_LOGIN_VERIF" />
	</wsdl:message>
	<wsdl:message name="Z_BC_LOGIN_VERIFResponse">
		<wsdl:part name="parameter" element="tns:Z_BC_LOGIN_VERIFResponse" />
	</wsdl:message>
	<wsdl:portType name="Z_BC_LOGIN_VERIF">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem applicationComponent="BC" />
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF_IF_Z_BC_LOGIN_VERIF" />
		</wsp:Policy>
		<wsdl:operation name="Z_BC_LOGIN_VERIF">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_IF_OP_Z_BC_LOGIN_VERIF" />
			</wsp:Policy>
			<wsdl:input message="tns:Z_BC_LOGIN_VERIF" />
			<wsdl:output message="tns:Z_BC_LOGIN_VERIFResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Z_BC_LOGIN_VERIF" type="tns:Z_BC_LOGIN_VERIF">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN_BN_Z_BC_LOGIN_VERIF" />
		</wsp:Policy>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Z_BC_LOGIN_VERIF">
			<soap:operation style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Z_BC_LOGIN_VERIF_SOAP12" type="tns:Z_BC_LOGIN_VERIF">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN_BN_Z_BC_LOGIN_VERIF_SOAP12" />
		</wsp:Policy>
		<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Z_BC_LOGIN_VERIF">
			<wsoap12:operation style="document" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Z_BC_LOGIN_VERIF">
		<wsdl:port name="Z_BC_LOGIN_VERIF" binding="tns:Z_BC_LOGIN_VERIF">
			<soap:address
				location="http://localhost:8102/sap/bc/srt/rfc/sap/z_bc_login_verif/120/z_bc_login_verif/z_bc_login_verif" />
		</wsdl:port>
		<wsdl:port name="Z_BC_LOGIN_VERIF_SOAP12" binding="tns:Z_BC_LOGIN_VERIF_SOAP12">
			<wsoap12:address
				location="http://localhost:8102/sap/bc/srt/rfc/sap/z_bc_login_verif/120/z_bc_login_verif/z_bc_login_verif" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>